<div class="inline-block space-x-1">
    <span class="cursor-pointer" (click)="current(1)">
        <<
    </span>
    <span class="cursor-pointer" (click)="current(currentPage - 1)">
        I<
    </span>
    <ng-container *ngFor="let link of meta.links">
        <span (click)="current(link.label)" class="cursor-pointer"
              [ngClass]="{'text-green-600': link.active}"
        >{{link.label}}</span>
    </ng-container>
    <span class="cursor-pointer" (click)="current(currentPage + 1)">
        >I
    </span>
    <span class="cursor-pointer" (click)="current(meta.last_page)">
        >>
    </span>
</div>